body {
  font-family: 'robotoregular';
}
.app-container {
  padding: 15px;
  font-size: 16px;
}
.retailer-detail {
  padding: 10px;
}
.retailer-detail input {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}
.retailer {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.retailer:hover {
  background-color: #eee;
}
.custom-select {
  border: 1px solid #a4a4a4;
  box-shadow: none;
  height: 34px;
}
.form-control {
  width: 450px;
}
.logo img {
  width: 70px;
  margin-right: 10px;
}
.logo span {
  font-size: 24px;
}
@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto/roboto-regular-webfont.eot');
  src: url('fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'), url('fonts/roboto/roboto-regular-webfont.woff') format('woff'), url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype'), url('fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 480px) {
  width: 90%;
}
