<sidemenu></sidemenu>
<div class="customer-details">
	<div class="deliver-details">
		<div class="clearfix">
			<span class="pull-left">Order no.</span>
			<spanc class="pull-right">Rs.425</span>
		</div>
		<div class="dd-order clearfix">
			<p>
				<span><img src="app/img/bike.png" alt=""></span>
				<span>name</span>
			</p>
			<p>
				<span><img src="app/img/mobile.png" alt=""></span>
				<span class="mob-no">1234567890</span>
			</p>
		</div>
		<div class="clearfix dd-time">
			<span class="pull-right">Delivered in 30 mins</span>
		</div>
	</div>
	<div class="order-deatails">
		<div class="od-header">
			<p class="light-red">Customer details</p>
		</div>
		<div class="od-mob-no">
			<p>Mobile no.1234567890</p>
		</div>
		<div class="od-address clearfix">
			<span class="pull-left">Address : </span>
			<div class="pull-left">
				<p>abcdefgh</p>
				<p>smdfn</p>
				<p>msnd</p>
			</div>
		</div>
	</div>
</div>