<sidemenu></sidemenu>
<a href="#/customerDetails">
<div class="deliver-details">
	<div class="clearfix">
		<span class="pull-left">Order no.</span>
		<span class="pull-right light-red">Rs.425</span>
	</div>
	<div class="dd-order clearfix">
		<p>
			<span><img src="app/img/bike.png" alt=""></span>
			<span>name</span>
		</p>
		<p>
			<span><img src="app/img/mobile.png" alt=""></span>
			<span class="mob-no">1234567890</span>
		</p>
	</div>
	<div class="clearfix dd-time">
		<span class="pull-right">Delivered in 30 mins</span>
	</div>
</div>
</a>