<sidemenu></sidemenu>
<a href="#/customerDetails">
<div class="deliver-details">
	<div class="clearfix">
		<span class="pull-left">Order no: 23</span>
		<span class="pull-right light-red">Rs.425</span>
	</div>
	<div class="dd-order clearfix">
		<p>
			<span class="icon-BikeLocator align-middle"></span>
			<span class="align-middle">Akshay</span>
		</p>
		<p>
			<span class="icon-Call align-middle"></span>
			<span class="mob-no align-middle">9734567890</span>
		</p>
	</div>
	<div class="clearfix dd-time">
		<span class="pull-right">Delivered in 30 mins</span>
	</div>
</div>
</a>