<sidemenu></sidemenu>
<div class="home-content">
	<div class="time-to-db text-center">
		<p>
			<span class="min">{{leastEta}}</span>
			<span>mins for nearest delivery boy</span>
		</p>
	</div>
	<!-- <div class="text-center map"> -->
		<!-- <span>Map Comes here</span> -->
		<!-- <div id="map-canvas" style="width:500px;height:500px;"></div> -->
	<!-- </div> -->

	  	<div id="map-canvas"></div>

	</div>
	<div class="footer-home text-center">
		<p><a href="#/orderDetails">BOOK NOW</a></p>
	</div>
</div>