<div class="logo text-center">
    <img src="app/img/retailer-logo.png" alt="">
</div>
<div class="form-groups">
    <form>
        <div class="input-form">
            <input type="text" placeholder="Email id">
            <p class="ip-holder"></p>
        </div>
        <div class="input-form">
            <input type="text" placeholder="password">
            <p class="ip-holder"></p>
        </div>
        <div class="btn-container text-center">
            <button class="btn-aye btn-green"><a href="#/home">Login</a></button>
            <p><a class="link" href="">Forgot Password?</a></p>
        </div>
    </form>
    <div class="text-center register-me">
        <p>I Don't have account, <a class="link" href="#/signup">Register me</a></p>
    </div>
</div>
