<sidemenu></sidemenu>
<a href="#/pickupDetails"><div class="biker-details">
	<div class="clearfix">
		<div class="pull-left biker-time">
			<span>
				<img src="app/img/bike.png" alt="">
			</span>
			<span>Name</span>
		</div>
		<div class="pull-right biker-time">
			<span>
				<img src="app/img/clock.png" alt="">
			</span>
			<span class="light-red">5mins</span>
		</div>
	</div>
	<div>
		<p>
			<span><img src="app/img/mobile.png" alt=""></span>
			<span class="mob-no">1234567890</span>
		</p>
	</div>
</div></a>
