<sidemenu></sidemenu>
<div class="pickup-details">
	<div class="biker-details">
		<div class="clearfix">
			<div class="pull-left biker-time">
				<span class="icon-BikeLocator align-middle"></span>
				<span class="align-middle">Name</span>
			</div>
			<div class="pull-right biker-time">
				<span class="icon-Timer align-middle light-red"></span>
				<span class="align-middle">5mins</span>
			</div>
		</div>
		<div>
			<p>
				<span class="icon-Call align-middle"></span>
				<span class="mob-no align-middle">1234567890</span>
			</p>
		</div>
	</div>
	<div class="order-deatails">
		<div class="od-header clearfix">
			<p class="pull-left">Order id : 1234</p>
			<p class="pull-right">Value : 432</p>
		</div>
		<div class="od-mob-no">
			<p>Cust mobile no.1234567890</p>
		</div>
		<div class="od-address clearfix">
			<span class="pull-left">Address : </span>
			<div class="pull-left">
				<p>abcdefgh</p>
				<p>smdfn</p>
				<p>msnd</p>
			</div>
		</div>
		<div class="od-btns clearfix">
			<span>Edit</span>
			<span>Cancel</span>
		</div>
	</div>
</div>