<sidemenu></sidemenu>
<a href="#/pickupDetails"><div class="biker-details">
	<div class="clearfix">
		<div class="pull-left biker-time">
			<span class="icon-BikeLocator align-middle"></span>
			<span class="align-middle">Name</span>
		</div>
		<div class="pull-right biker-time">
			<span class="icon-Timer align-middle light-red"></span>
			<span class="light-red">5mins</span>
		</div>
	</div>
	<div>
		<p>
			<span class="icon-Call align-middle"></span>
			<a href="tel:+917829298460"><span class="mob-no align-middle">+917829298460</span></a>
		</p>
	</div>
</div></a>
