<sidemenu></sidemenu>
<!-- <div class="coming-soon text-center">
	<h3>Coming Soon</h3>
	Change password
</div> -->
<div class="settings">
	<div class="change-password">
		<p>CHANGE PASSWORD</p>
		<div class="cp-content">
			<input type="text" class="cp-input" placeholder="Current Password">
			<input type="text" class="cp-input" placeholder="New Password">
			<input type="text" class="cp-input" placeholder="Confirm Password">
			<p class="cp-btn text-center">
				<button class="btn btn-green">Submit</button>
			</p>
		</div>
	</div>
</div>