<header>
	<div class="menu-icon" ng-click="showMenu()"> 
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    	<div class="side-menu" ng-class="addClass">
       <div class="side-menu-items">Pickup</div>
       <div class="side-menu-items">Out for delivery</div>
       <div class="side-menu-items">Delivered</div>
       <div class="side-menu-items">Settings</div>
       <div class="side-menu-items">About Retailer App</div>
       <div class="text-center">
       		<button class="btn-aye btn-orange">Logout</button>
       </div>
   </div>
</header>