@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto/roboto-regular-webfont.eot');
  src: url('fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'), url('fonts/roboto/roboto-regular-webfont.woff') format('woff'), url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype'), url('fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'robotoregular';
  font-size: 16px;
}
button::-moz-focus-inner {
  border: 0;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:focus,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}
.btn-aye {
  height: 50px;
  border-radius: 35px;
  font-size: 24px;
  box-shadow: none;
  border: none;
  padding: 0 40px;
  color: #fff;
}
.btn-green {
  background-color: #6cbf29;
  padding: 0 30px;
  height: 40px;
}
.btn-orange {
  background-color: #ff5527;
}
.light-red {
  color: #f56743;
}
.link {
  text-decoration: underline;
  color: #636363;
}
.line {
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-bottom: 4px;
}
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 10px solid #000000;
  border-left: 10px solid transparent;
}
.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.active-page {
  background-color: #eee;
}
.app-container {
  color: #636363;
  position: relative;
}
.logo {
  padding: 30px;
  height: 193px;
}
.logo img {
  width: 200px;
  margin-top: 65px;
}
.form-groups {
  padding: 50px 10px;
  min-height: 250px;
}
.input-form {
  position: relative;
  margin-bottom: 25px;
}
.input-form input {
  border: none;
  font-size: 18px;
  width: 100%;
  padding: 0 4px;
}
.input-form input::-webkit-input-placeholder {
  color: #636363;
}
.input-form input:-moz-placeholder {
  color: #636363;
  opacity: 1;
}
.input-form input::-moz-placeholder {
  color: #636363;
  opacity: 1;
}
.input-form input:-ms-input-placeholder {
  color: #636363;
}
.input-form input:focus {
  outline: none;
  border: none;
}
.input-form .ip-holder {
  margin: 0;
  height: 5px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  position: absolute;
  bottom: -3px;
  width: 100%;
}
.btn-container {
  padding: 20px 0;
}
.btn-container .btn-green {
  margin-bottom: 25px;
}
.register-me {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  padding: 20px 0;
}
.register-me .link {
  color: #6cbf29;
}
header {
  position: relative;
  background-color: #00345b;
  height: 40px;
}
header .logo-homepage {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 2px 0;
  width: 58%;
  text-align: center;
  margin-left: 30px;
}
header .logo-homepage img {
  height: 20px;
}
.menu-icon {
  padding: 10px 10px 10px 20px;
  display: inline-block;
  vertical-align: middle;
}
.show-menu {
  left: 0 !important;
}
.side-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px 5px;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  background-color: #fff;
  width: 85%;
}
.side-menu .side-menu-options {
  min-height: 250px;
}
.side-menu .side-menu-items {
  color: #00345b;
  font-size: 18px;
  border-bottom: 2px solid #ebebeb;
  padding: 10px 10px 10px 20px;
}
.side-menu .logout-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.home-content {
  position: relative;
}
.time-to-db {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}
.time-to-db p {
  margin: 0;
}
.time-to-db p .min {
  font-size: 22px;
}
.time-to-db p span {
  vertical-align: middle;
}
.footer-home {
  background-color: #6cbf29;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-home p {
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 0;
}
.custom-check {
  margin-right: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #6cbf29;
}
.custom-check .glyphicon {
  margin-left: 4px;
  margin-top: 4px;
  color: #ffffff;
}
.form-info {
  position: absolute;
  bottom: 0;
  right: 0;
}
.mandatory {
  font-size: 12px;
  color: #f56743;
}
.order-details-container .footer-home {
  background-color: #f56743;
}
.order-details-form {
  padding: 10px 15px;
}
.odf-top .time-to-reach {
  height: 80px;
  padding: 15px 10px;
  background-color: #ebebeb;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.odf-top .time-to-reach .time-to-reach-head {
  font-size: 20px;
}
.odf-top .time-to-reach p {
  margin-bottom: 0;
}
.odf-top .time-to-reach p:last-child {
  font-size: 14px;
}
.odf-top .skip-details {
  height: 80px;
  padding: 28px 10px;
  background-color: #d4d4d4;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.odf-top .skip-details span {
  display: inline-block;
  vertical-align: middle;
}
.odf {
  margin-top: 25px;
}
.odf .input-form input {
  padding-right: 65px;
  font-size: 16px;
}
.odf .input-form .triangle-bottomright {
  margin-bottom: 0;
  position: absolute;
  bottom: -3px;
  right: 0;
}
.locality .ip-holder {
  height: 0;
}
.sub-locality {
  width: 80%;
}
.cust-address .ip-holder {
  height: 0;
}
.biker-details {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #a4a4a4;
}
.biker-details span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.biker-details .biker-time {
  padding: 10px 0;
  margin-bottom: 10px;
}
.mob-no {
  text-decoration: underline;
  color: #00345b;
}
.pickup-details .biker-details {
  border-bottom: none;
}
.order-deatails {
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
}
.order-deatails > div {
  padding: 0 10px;
}
.order-deatails .od-header {
  padding: 10px;
  color: #6cbf29;
}
.order-deatails .od-header p {
  margin: 0;
}
.order-deatails .od-address {
  margin-bottom: 10px;
}
.order-deatails .od-address p {
  margin-bottom: 0;
}
.order-deatails .od-btns {
  border-top: 1px solid #a4a4a4;
}
.order-deatails .od-btns span {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}
.order-deatails .od-btns span:first-child {
  border-right: 1px solid #a4a4a4;
}
.order-deatails .od-btns span:last-child {
  color: #f56743;
}
.customer-details {
  border-bottom: 1px solid #a4a4a4;
}
.customer-details .deliver-details {
  border-bottom: none;
}
.customer-details .order-deatails {
  background-color: #ffffff;
}
.customer-details .order-deatails .od-header {
  color: red;
}
.deliver-details {
  border-bottom: 1px solid #a4a4a4;
  padding-top: 10px;
}
.deliver-details p {
  margin-bottom: 0;
}
.deliver-details > div {
  padding: 0 10px;
}
.deliver-details .dd-order {
  padding: 10px 10px 5px 10px;
}
.deliver-details .dd-order p {
  display: inline-block;
  float: left;
  width: 50%;
}
.deliver-details .dd-time {
  color: #6cbf29;
  margin-bottom: 5px;
  font-size: 14px;
}
.coming-soon {
  color: #00345b;
  position: relative;
  background-color: #eee;
}
.coming-soon h3 {
  padding-top: 120px;
  margin: 0;
}
