<header>
	<div class="menu-icon" ng-click="showMenu()"> 
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="logo-homepage">
        <img src="app/img/retailer-logo1.png" alt="">
    </div>
	<div class="side-menu" ng-class="addClass">
        <div class="side-menu-options">
            
            <div class="side-menu-items"><span class="align-middle"><img src="app/img/default-pic.png" alt="" width="50px" style="border-radius: 5px;"></span><span class="align-middle" style="margin-left:10px;">{{user.name}}</span></div>  
            <a href="#/" active-link="active"><div class="side-menu-items">Home</div></a>
            <a href="#/pickup" active-link="active"><div class="side-menu-items">Pickup</div></a>
            <a href="#/outFordelivery" active-link="active"><div class="side-menu-items">Out for delivery</div></a>
            <a href="#/delivered" active-link="active"><div class="side-menu-items">Delivered</div></a>
            <a href="#/settings" active-link="active"><div class="side-menu-items">Settings</div></a>
            <a href="#/aboutApp" active-link="active"><div class="side-menu-items">About Retailer App</div></a>

        </div>
           <div class="text-center logout-div">
       		<button class="btn-aye btn-orange" ng-click="logout()">Logout</button>
       </div>
   </div>
</header>