<header>
	<div class="menu-icon" ng-click="showMenu()"> 
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    	<div class="side-menu" ng-class="addClass">
        <div class="side-menu-options">
           <a href="#/pickup"><div class="side-menu-items">Pickup</div></a>
           <div class="side-menu-items">Out for delivery</div>
           <a href="#/delivered"><div class="side-menu-items">Delivered</div></a>
           <div class="side-menu-items">Settings</div>
           <div class="side-menu-items">About Retailer App</div>
        </div>
           <div class="text-center logout-div">
       		<button class="btn-aye btn-orange" ng-click="logout()">Logout</button>
       </div>
   </div>
</header>