@font-face {
  font-family: 'panamalight';
  src: url('../fonts/panama-light-webfont.eot');
  src: url('../fonts/panama-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/panama-light-webfont.woff2') format('woff2'), url('../fonts/panama-light-webfont.woff') format('woff'), url('../fonts/panama-light-webfont.ttf') format('truetype'), url('../fonts/panama-light-webfont.svg#panamalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Courier-Normal';
  src: url('../fonts/Courier-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/Courier-Normal.woff') format('woff'), url('../fonts/Courier-Normal.ttf') format('truetype'), url('../fonts/Courier-Normal.svg#Courier-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
ul {
  margin: 0;
}
li {
  list-style-type: none;
}
input:focus {
  outline: none;
}
.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.section-head-grey {
  color: #ffffff;
}
.section-head-grey h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  font-size: 24px;
  font-family: 'panamalight';
}
.section-head-white {
  color: #000000;
}
.section-head-white h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #404040;
  display: inline-block;
  font-size: 24px;
  font-family: 'panamalight';
}
.active-tab {
  border-bottom: 2px solid #ffffff !important;
}
body {
  font-size: 18px;
  font-family: 'latolight';
}
header {
  padding: 1px;
  background-color: #0054a6;
  color: #ffffff;
}
header .nav-item {
  margin-right: 10px;
  padding: 20px 10px;
  border-bottom: 2px solid #0054a6;
  cursor: pointer;
  font-family: 'latobold';
}
header .logo span {
  font-family: 'Courier-Normal';
  font-size: 34px;
}
#home .slider-content {
  height: 506px;
  overflow: hidden;
}
#home .item {
  background-color: #353538 !important;
  opacity: 0.8 !important;
  height: 506px;
  position: relative;
}
#home .item .carousel-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#home .item .carousel-caption span {
  position: relative;
  top: 220px;
  font-size: 28px;
}
.slide-1,
.slide-2,
.slide-3,
.slide-4 {
  background-image: url('../img/delivery-man.jpg');
  background-repeat: none;
  background-size: 100% 100%;
}
.we-deliver {
  color: #ffffff;
  background-color: #404040;
  padding: 15px 0 35px 0;
}
.we-deliver .section-head-grey {
  margin-bottom: 20px;
}
.we-deliver .wd-images {
  margin-right: 20px;
}
.we-deliver .wd-images .wd-image p {
  margin-top: 20px;
}
#how-it-works {
  font-family: 'latolight';
  padding-bottom: 50px;
}
#how-it-works .section-head-white {
  margin: 15px 0 25px 0;
}
#how-it-works .screenshot {
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
#how-it-works .screenshot .screenshot-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.8);
  cursor: pointer;
}
#how-it-works .screenshot .screenshot-cover p {
  color: white;
  margin-top: 250px;
}
.submit-btn {
  padding: 5px 30px;
  border: 1px solid #ffffff;
  color: white;
  background-color: #404040;
}
.submit-btn-blue {
  padding: 5px 30px;
  border: none;
  color: white;
  background-color: #0054a6;
}
#get-started {
  color: #ffffff;
  background-color: #404040;
}
#get-started .input-formgroup {
  width: 600px;
  margin: 30px auto;
}
#get-started .input-formgroup .input-icon {
  width: 100px;
  text-align: right;
  padding-right: 20px;
}
#get-started .input-formgroup .input-form {
  width: 400px;
}
#get-started .input-formgroup .input-form input {
  box-shadow: none;
  background-color: #404040;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0 0 7px 5px;
}
#get-started .margin-fix {
  margin-right: 8px;
}
#become-rider {
  color: #ffffff;
}
#become-rider .rider-form .rider-form-content input {
  display: block;
  border: 1px solid #000;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}
#contact-us {
  color: #ffffff;
  background-color: #404040;
}
#contact-us .contact-us-content {
  width: 600px;
  margin: 0 auto;
}
#contact-us .cu-details {
  margin-bottom: 15px;
}
#contact-us .cu-images {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  text-align: right;
}
#contact-us .cu-images img {
  padding-right: 20px;
}
#contact-us .cu-content {
  display: inline-block;
  vertical-align: top;
}
