<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ayesap</title>
        <link rel="shortcut icon" href="img/favicon.ico" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" href="app/scripts/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="app/css/admin.css">

       
        <script type="text/javascript" src="app/scripts/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="app/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app/scripts/excel/xlsx.min.js"></script>
        <script type="text/javascript" src="app/scripts/excel/Blob.js"></script>
        <script type="text/javascript" src="app/scripts/excel/FileSaver.js"></script>
        <script src="app/scripts/base.js"></script> 
</head>
<body ng-app="admin">
    <div class="app-container" ng-controller="AdminCtrl">
        <div class="logo text-center">
            <img src="app/img/retailer-logo.png" alt="">
            <span>Ayesap Admin</span>
            <button ng-show="showPage" type="button" class="btn btn-success pull-right" ng-click="logout()">Logout</button>
        </div> 
        <div class="admin-login" ng-show="login">
            <form>
                <div class="form-group text-center">
                    <input type="text" class="form-control align-center" placeholder="email" ng-model="admin.email">
                </div>
                <div class="form-group text-center">
                    <input type="password" class="form-control align-center" placeholder="password" ng-model="admin.password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" ng-click="adminLogin(admin)">Login</button>
                </div>
                
            </form>
        </div>
        <div class="nav-container" ng-show="showPage">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active current-nav-tab-retailers"><a href="#retailer-list" aria-controls="retailer-list" role="tab" data-toggle="tab">List of Retailers</a></li>
                <li role="presentation" ng-show="enterDetails"><a href="#add-retailer" aria-controls="add-retailer" role="tab" data-toggle="tab">add-retailer</a></li>
                <li role="presentation" class="current-nav-tab-riders"><a href="#resource-list" aria-controls="resource-list" role="tab" data-toggle="tab">List of Rider Requests</a></li>

                <li role="presentation" class="current-nav-tab-customers"><a href="#customer-list" aria-controls="customer-list" role="tab" data-toggle="tab">Customers</a></li>
                <li role="presentation" class="current-nav-tab-orders"><a href="#order-list" aria-controls="order-list" role="tab" data-toggle="tab">Orders</a></li>
                <li role="presentation" ng-show="orderDetails"><a href="#order-details" aria-controls="order-details" role="tab" data-toggle="tab">Order Details</a></li>
                <li role="presentation"><a href="#config-list" aria-controls="config-list" role="tab" data-toggle="tab">Configuration</a></li>
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active retailer-detail" id="retailer-list">
                    <button class="btn btn-success pull-right" ng-click="refreshList()">Refresh List</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Id</th>
                                <th>Name</th>
                                <th>E mail</th>
                                <th>Mobile-no</th>
                                <th>Registration Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="retailer-link" ng-click="showDetails(retailer, $index)" ng-repeat="retailer in retailers" ng-class="{'add-bg' : selectedRetailer == $index}">
                                <!-- <th scope="row">{{$index+1}}</th> -->
                                <th scope="row">{{retailer.retailerId}}</th>
                                <td>{{retailer.name}}</td>
                                <td>{{retailer.email}}</td>
                                <td>{{retailer.mobile}}</td>
                                <td>{{retailer.registrationStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-if="retailers.length > 0" class="btn btn-primary" ng-click="exportExcelFile()">Download</button>
                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="add-retailer">
                    <!-- <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-5">
                      <p class="form-control-static">email@example.com</p>
                    </div> -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{retailerRegister.retailerId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{retailerRegister.mobile}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="email" placeholder="email" ng-model="retailerRegister.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="name" placeholder="name" ng-model="retailerRegister.name">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="email" placeholder="email" ng-model="retailerRegister.email">
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{retailerRegister.name}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{retailerRegister.email}}</p>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Retailer Type:</label>
                            <div class="col-sm-5">
                                <select name="retailer-type-list" id="type" class="form-control" ng-model = "retailerRegister.retailerType">
                                    <option value="Homeneed" ng-selected="retailerRegister.retailerType">Homeneed</option>
                                    <option value="Grocery" ng-selected="retailerRegister.retailerType">Grocery</option>
                                    <option value="Giftshop" ng-selected="retailerRegister.retailerType">Giftshop</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="retailerType" class="col-sm-2 control-label">Retailer Type</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="retailerType" placeholder="retailerType" ng-model="retailerRegister.retailerType">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">address</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="address" placeholder="address" ng-model="retailerRegister.address">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="street" class="col-sm-2 control-label">Street</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="street" placeholder="street" ng-model="retailerRegister.street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="area" class="col-sm-2 control-label">Area</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="area" placeholder="area" ng-model="retailerRegister.area">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="landmark" class="col-sm-2 control-label">Land Mark</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="landmark" placeholder="landmark" ng-model="retailerRegister.landmark">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="city" placeholder="city" ng-model="retailerRegister.city">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City:</label>
                            <div class="col-sm-5">
                                <select name="citylist" id="city" class="form-control" ng-model = "retailerRegister.city">
                                    <option value="India" ng-selected="retailerRegister.city">Bangalore</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="state" class="col-sm-2 control-label">State</label>
                            <div class="col-sm-5">
                                <select name="slist" class="custom-select form-control" id="state" ng-model="retailerRegister.state" ng-selected="retailerRegister.state">
                                    <!-- <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option> -->
                                    <!-- <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option> -->
                                    <option value="Karnataka" ng-selected="retailerRegister.state">Karnataka</option>
                                    <!-- <option value="Kerala">Kerala</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttaranchal">Uttaranchal</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="West Bengal">West Bengal</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country" class="col-sm-2 control-label">Country:</label>
                            <div class="col-sm-5">
                                <select name="clist" id="country" class="form-control" ng-model = "retailerRegister.country">
                                    <option value="India" ng-selected="retailerRegister.country">India</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="city" placeholder="city" ng-model="retailerRegister.city">
                            </div>
                        </div> -->                       
                        <div class="form-group">
                            <label for="pincode" class="col-sm-2 control-label">Pincode</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pincode" placeholder="pincode" ng-model="retailerRegister.pincode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="latitude" class="col-sm-2 control-label">Latitude</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="latitude" placeholder="latitude" ng-model="retailerRegister.latitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="longitude" class="col-sm-2 control-label">Longitude</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="longitude" placeholder="longitude" ng-model="retailerRegister.longitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="accountManager" class="col-sm-2 control-label">Account Manager</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="accountManager" placeholder="accountManager" ng-model="retailerRegister.accountManager">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comments" class="col-sm-2 control-label">comments</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="comments" placeholder="comments" ng-model="retailerRegister.comments">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zone" class="col-sm-2 control-label">Zone:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="zone" placeholder="zoneid" ng-model="retailerRegister.zone">
                                <!--<select name="zonelist" id="zone" class="form-control" ng-model = "retailerRegister.zone">-->
                                    <!--<option value="Bangalore South" ng-selected="retailerRegister.zone">Bangalore South</option>-->
                                <!--</select>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5" ng-if="retailerRegister.registrationStatus != 'approved'">
                                <button type="submit" class="btn btn-primary" ng-click="registerRetailer(retailerRegister)">Confirm and Generate Password</button>
                                <button ng-if="retailerRegister.registrationStatus != 'declined'" type="submit" class="btn btn-warning" ng-click="declineRetailer(retailerRegister.retailerId,retailerRegister.mobile)" style="margin-left:15px;">Decline</button>
                            </div>
                            <div class="col-sm-offset-2 col-sm-5" ng-if="retailerRegister.registrationStatus == 'approved'">
                                <button type="submit" class="btn btn-primary" ng-click="editRetailer(retailerRegister)">Save Changes</button>
                            </div>
                        </div>
                    </form>
                    <div ng-if="password" class="alert alert-success col-sm-5 col-sm-offset-2">
                        <p>Retailer successfully registered</p>
                        Generated Password : {{password}}
                    </div>
                    <div ng-if="message" class="alert alert-success col-sm-5 col-sm-offset-2">
                        <p>{{message}}</p>
                    </div>
                    <div class="alert alert-danger col-sm-5 col-sm-offset-2" role="alert" ng-if="error">{{error}}</div>

                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="resource-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="retailer" ng-repeat="resource in resources">
                                <!-- <th scope="row">{{$index+1}}</th> -->
                                <th scope="row">{{resource.name}}</th>
                                <td>{{resource.mobile}}</td>
                                <td>{{resource.city}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-if="resources.length > 0" class="btn btn-primary" ng-click="exportExcelFile()">Download</button>
                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="customer-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Id</th>
                                <th>Name</th>
                                <th>Mobile-no</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="retailer"ng-repeat="customer in customers">
                                <!-- <th scope="row">{{$index+1}}</th> -->
                                <th scope="row">{{customer.customerId}}</th>
                                <td>{{customer.name}}</td>
                                <td>{{customer.mobile}}</td>
                                <td>{{customer.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-if="customers.length > 0" class="btn btn-primary" ng-click="exportExcelFile()">Download</button>
                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="order-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Task Id</th>
                                <th>Order Id</th>
                                <th>Retailer Id</th>
                                <th>Retailer Mobile</th>
                                <th>Customer Mobile</th>
                                <th>Order Amount</th>
                                <th>Current Status</th>
                                <th>Update Time</th>
                                <th>Resource Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="retailer-link"ng-repeat="order in orders" ng-click="showOrderDetails(order, $index)" ng-class="{'add-bg' : selectedOrder == $index}">
                                <!-- <th scope="row">{{$index+1}}</th> -->
                                <th scope="row">{{order.taskId}}</th>
                                <td>{{order.orderId}}</td>
                                <td>{{order.retailerId}}</td>
                                <td>{{order.retailerMobile}}</td>
                                <td>{{order.customerMobile}}</td>
                                <td>{{order.orderAmount}}</td>
                                <td>{{order.currentStatus}}</td>
                                <td>{{order.updateTime}}</td>
                                <td>{{order.resId}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-if="orders.length > 0" class="btn btn-primary" ng-click="exportExcelFile()">Download</button>
                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="order-details">
                    <!-- <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-5">
                      <p class="form-control-static">email@example.com</p>
                    </div> -->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">retailerId:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.retailerId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">retailerMobile:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.retailerMobile}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">customerMobile:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.customerMobile}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">orderDetailsAmount:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.orderAmount}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">lastStatus:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.lastStatus}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">currentStatus:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.currentStatus}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">retailerName:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.retailerName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">bookNowTime:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.bookNowTime}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">orderDetailsId:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.orderId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">CODValue:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.CODValue}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">customerId:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.customerId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">custFullAddress:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.custFullAddress}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">custName:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.custName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">taskId:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.taskId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">updateTime:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.updateTime}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">resId:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.resId}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">resMobile:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.resMobile}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">lastStatusUpdateTime:</label>
                            <div class="col-sm-5">
                                <p class="form-control pre-populated">{{orderDetails.lastStatusUpdateTime}}</p>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane retailer-detail" id="config-list">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="email" placeholder="email" ng-model="customconfig.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="key" class="col-sm-2 control-label">Key:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="key" placeholder="key" ng-model="customconfig.key">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="APIurl" class="col-sm-2 control-label">APIurl:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="APIurl" placeholder="APIurl" ng-model="customconfig.APIurl">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="riderActiveStatusInUse" class="col-sm-2 control-label">riderActiveStatusInUse:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="riderActiveStatusInUse" placeholder="riderActiveStatusInUse" ng-model="customconfig.riderActiveStatusInUse">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taskAutoAssignOptionInUse" class="col-sm-2 control-label">taskAutoAssignOptionInUse:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="taskAutoAssignOptionInUse" placeholder="taskAutoAssignOptionInUse" ng-model="customconfig.taskAutoAssignOptionInUse">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastTimeCheckms" class="col-sm-2 control-label">lastTimeCheckms:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="lastTimeCheckms" placeholder="lastTimeCheckms" ng-model="customconfig.lastTimeCheckms">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="distanceCheckCircleInMeter" class="col-sm-2 control-label">distanceCheckCircleInMeter:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="distanceCheckCircleInMeter" placeholder="distanceCheckCircleInMeter" ng-model="customconfig.distanceCheckCircleInMeter">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bikerLastTimeCheckms" class="col-sm-2 control-label">bikerLastTimeCheckms:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="bikerLastTimeCheckms" placeholder="bikerLastTimeCheckms" ng-model="customconfig.bikerLastTimeCheckms">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="foodCheckCapacity" class="col-sm-2 control-label">foodCheckCapacity:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="foodCheckCapacity" placeholder="foodCheckCapacity" ng-model="customconfig.foodCheckCapacity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="groceryCheckCapacity" class="col-sm-2 control-label">groceryCheckCapacity:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="groceryCheckCapacity" placeholder="groceryCheckCapacity" ng-model="customconfig.groceryCheckCapacity">
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-success col-sm-3" ng-click="saveConfig(customconfig)">Save</button>
                        </div>
                        <div ng-if="message" class="alert alert-success col-sm-5 col-sm-offset-2">
                            <p>{{message}}</p>
                        </div>
                        <div class="alert alert-danger col-sm-5 col-sm-offset-2" role="alert" ng-if="error">{{error}}</div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="app/scripts/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/scripts/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="app/scripts/admin.js"></script>  
</body>
</html>